<mat-toolbar>
  <mat-toolbar-row>
    User List
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav-content>
      <mat-form-field style="width: 100%">
        <input matInput [(ngModel)]="userName">
      </mat-form-field>
      <mat-list>
        <mat-list-item *ngFor="let user of userList | userSearch: userName" (click)="userDetails(user?.login)">
          <img matListAvatar [src]="user?.avatar_url">
          <h3 matLine>{{user?.login}}</h3>
          <p matLine>{{user?.type}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>
